@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #00a3ff;
  --lightblue: #f8ffff;
  --white: #ffffff;
  --grey: #c4c4c4;
}

html,
body {
  /* padding: 0; */
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

textarea,
input {
  outline: none;
}
