.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typeInput {
  width: 270px;
  height: 35px;
  font-size: 14px;
}

.locationInput {
  width: 250px;
  height: 35px;
  font-size: 14px;
}

.searchBtn {
  height: 39px;
  background-color: var(--blue);
}
